.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.login-container form>img {
    margin-bottom: 20px;
}

.login-container form div.error {
    margin: 20px 0 20px 0;
    color: #111;
    background: rgba(255,0,55,0.5);
    border-radius: 4px;
    width: 85%;
    align-self: center;
    text-align: center;
}

.login-container form input[type=text], input[type=password] {
    margin-top: 7px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.login-container form input::placeholder {
    color: #999;
}

.login-container form button[type=submit] {
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #df4723;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.login-container form p {
    margin-top: 7px;
    align-self: center;
    font-size: 15px;
    color: #666;
}

.login-container form p .signup-link {
    color: #df4723;
    text-decoration: none;
}